/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

/* main */

.main {
  padding: 24px 0;
}

.title-container {
  margin-bottom: 10px;
}

.title {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 25px */
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

.subtitle {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 31px */
  letter-spacing: -0.93px;
  text-transform: uppercase;
}

.accent-title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 40.5px */
  letter-spacing: -1.35px;

  background: linear-gradient(90deg, #eaa800 0%, #ffcf20 50%, #eaa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  color: #62a1ff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 90%; /* 18px */
  letter-spacing: -0.4px;

  max-width: 236px;
  margin: 0 auto 40px auto;
}

.smooth-image {
  display: block;

  margin: 0 auto 48px auto;
}

.text {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: -0.36px;
  text-transform: uppercase;

  max-width: 320px;

  margin: 0 auto 20px auto;
}

.text span {
  color: #3e75e5;
}

.link-btn {
  display: block;
  padding: 24px;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  border-radius: 70px;
  background: linear-gradient(90deg, #3e75e5 0%, #62a1ff 50%, #3e75e5 100%);

  animation: pulseScale 2000ms infinite;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-time {
  display: block;
  color: #62a1ff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.64px;
  width: 50px;
}

.countdown-doubledot {
  content: '';
  display: flex;
  height: 30px;
  width: 1px;
  background: #62a1ff;
  margin: 0 auto;
}

.countdown-label {
  color: #62a1ff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;

  margin-top: -6px;
}
